@model AppBlogEngine.Models.Users

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                 Role
                @Html.DropDownListFor(m => m.idRole, (IEnumerable<SelectListItem>)ViewBag.listRole, "Select role", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.idRole, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">User Name</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="firstLastName" class="form-control" />
                <span asp-validation-for="firstLastName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
